.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #ad3e3e 0%, #de7373 100%);

}

.Quiz h1 {
    color: white;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}